.main-content {
    position: relative;
    height: 100%;
    min-height: 90vh;
    background-color: $gray-100;
    padding-bottom: 5vh;

    // Navbar
    .navbar-top {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    // Container
    .container-fluid {
        padding-left : $main-content-padding-x;
        padding-right: $main-content-padding-x;
      
    }
}

.section-wrapper {
    position: relative;
    background-color: $gray-200;;
    border-radius: 5px;
    padding: 1rem;
}

.controls {
    background-color: $gray-100;
    border-radius: 5px;
    padding: 1rem;
}

.video_overlays {
    position: absolute;
    background-color:rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    z-index: 2;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.video_box {
    position: relative;
    padding: 20px;
    video {
        width: 100%;
        display: block;
    }
}

.player-wrapper {
    position: relative;
    padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
  }
  
.react-player {
    position: absolute;
    top: 0;
    left: 0;
}
  
.scene-container {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-color: transparent;
    //background-color: #f0f0f0;
    z-index: 1;
}

.scene-tooltip {
    padding-top: 5px;
    transform: translate3d(50%, 0, 0);
    text-align: center;
    background: $primary;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    font-size: xx-small;
    
}

.output {
    background-color: $primary;
    border-radius: 5px;
    padding: 1rem;
    height: 15vh;
    overflow: auto;
    code {
        color: #f0f0f0;
        font-size: small;
    }
}

